<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AnjuManagerPath" value="{AppDir}\Fangkeyizu\"/>
    <add key="Entry" value="Anju.Fangke.Client.Main.exe"/>
  </appSettings>
  <connectionStrings>
    <add name="ServiceUrl" connectionString="http://119.29.66.154/Service/Execute"/>
  </connectionStrings>
</configuration>